body {
	margin: 0;
	padding: 0;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 90%;
	line-height: 180%;
	color: #444;
	min-width: 1000px;
	-webkit-text-size-adjust: 100%;
	background: #FFF;
}

#header,
#content,
#footer {
	clear: both;
	width: 100%;	
}


/**
*	General styling
*/

body {
	margin: 0;
	padding: 0;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "游ゴシック体 Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	min-width: 1000px;
	font-size: 16px;
}

.container,
.navigation,
.content,
.footer {
	width: 100%;	
}
