#construction .box_list:after {
	display: block;
	clear: both; /* Check this */	
}

#construction .box_list .box {
	float: left;
	margin: 2%;
	width: 29.3%;
	border: 5px solid #EEE;	
}

#construction .box_list .box:nth-child(3n+1) {
	clear: both;	
}

#construction .box_list .photo {
	height: 210px;
	overflow: hidden;	
}

#construction .box_list h3 {
	margin: 0;
	padding: 10px 0;
	font-szie: 20% /* Check this */	
}

#construction .box_list dl {
	padding: 10px;
	background: #FFF;
}



/**
* GoToTop button styling
*/

#goto-top {
	display: none;
	position: fixed;
	bottom: 96px;
	right: 15px;
	z-index: 888;
	border: none;
	outline: none;
	background-color: #D80C18;
	color: #FFF;
	cursor: pointer;
	padding: 7px;
	border-radius: 50px;
}

#goto-top:hover {
	background-color: #5D5D5D;
}

#goto-top img {
	width: 40px;
	height: 40px;
}
#construction .box_list dt {
	padding: 3px 10px;
	font-weight: bold;	
}

#construction .box_list dd {
	padding: 3px 10px;	
}


/* CUSTOM */

#top_button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #D80C18; /* Set a background color */
    color: #FFF; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
}

#top_button:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
