.icon {
display: none;
}
.hamburger {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 13px;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
}

@media screen and (max-width: 730px) {
  .myTopnav {
    display: none;
  }
  .icon {
    display: block;
    float: right;
    padding-right: 30px;
  }
  .myTopnav.responsive {
    display: inline-grid; 
    width: 300px;
    background-color: #D80C18;
    padding-bottom: 380px;
  }
  .navigation-content {
    width: 100%;
    max-width:100%;
  }
.nav-menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(62,58,57,0.2);
  margin-right: 25px;
}

.nav-menu-item:first-child {
border-top: none;
}
.nav-menu-item:last-child {
border-bottom: 1px solid rgba(62,58,57,0.2);
}
  #nav-logo {
    padding-left: 30px;
  }
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }
  #nav-menu-button-login a {
    background-color: unset;
    color: white;
    border:unset;
    float: left;
    padding-left: 15px;
  }
  .nav-menu-item a img {
    display: none;
  }
  #news-section {
    width: 100%;
  }
  #ads-section {
    display: none;
  }
  .thumb-img {
    height: 145px;
  }
  .thumb {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 18px;
    border-top: 1px solid #D4D4D5;
  }

  .thumb:last-child {
    border-bottom: 1px solid #D4D4D5;
}

.thumb-title p {
  text-align: left;
  padding-left: 30px;
}
.thumb-text p {
  text-align: left;
  padding-left: 30px;
}
  .thumb-img {
    width: 30%;
    float: left;
  }
  .thumb-title {
    width: 70%;
    float: right;
  }
  .thumb-text {
    width: 70%;
    float: right;
  }
  
  #section4-left {
    display: none;
  }
  #section4-right {
    float: none;
   background-color: rgba(255,255,255,0.8);
  }
  .section4-full {
	background: none;
	overflow: visible;
	}
  .section4 {
  	margin-top: 0px;
  	margin-bottom: 0px;
    border-bottom: 1px solid #D4D4D5;
    background: url("../../image/p2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    overflow: visible;
  }
  #section4-right {
  	width: 100%;
  	max-width: 100%;
  	float: right;
  	margin-top: 200px;
  }
  .section5 {
  	border-top: 1px solid #D4D4D5;
  }
  .section3 {
  	padding-bottom: 100px;
  }
  
  #goto-top {
    right: 30px;
  }
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  #footer-left {
    display: none;
  }
  #footer-right {
    float: unset;
  }
  .footer-content {
    text-align: center;
  }

.container.full-page-container {
  overflow-x: hidden;
    position: relative;
    right: 370px;
  }



















































































































