h2.tit {
	min-height: 130px;
	font-size: 200%;
	color: #FFF;	
	background: #82CCDA /* url(../../image/h2_bg.jpg) */ no-repeat top right;
}

h2.tit b {
	display: block;
	margin: auto;
	padding-top: 50px;
	width: 1000px;	
}

.pan {
	clear: both;
	margin: auto;
	width: 1000px;
	padding: 0.5%;
	font-size: 80%;
	color: #666;
	text-align: right;		
}


/* CUSTOM */

.content_container {
	margin: 0 auto;
	width: 70%;	
	overflow: auto;
	overflow-x: hidden;
	padding-top: 80px;
	padding-bottom: 40px;
}

#banner {
	border: 1px solid #D5D5D5;
	width: 100%;
	height: 270px;
	margin: 45px 0 40px 0;
	background-color: #D5D5D5;	
}

#container_content {
	margin: 0 auto;	
	width: 100%;
}

#news {
	width: 65%;
	margin: 0 auto;
	float: left;	
}

#news_group {
	height: 160px;
	overflow: scroll;
	overflow-x: hidden;
}

#side_images {
	width: 30%;
	margin: 40px 0 auto;
	float: right;
	height: 160px;
}

.side_image {
	border: 1px solid #D5D5D5;
	width: 100%;
	height: 70px;
	background-color: #D5D5D5;
	margin-bottom: 10px;	
}

.side_heading_title {
	display: inline-block;	
}

.side_heading {
	font-size: 20px;
	margin-bottom: 0;
}

.side_heading_dash {
	border: 1px solid #D80C18;	
	width: 23px;
	height: 4px;
	background-color: #D80C18; 
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 4px;
}

.side_text {
	font-size: 16px;
}

.raquo {
	color: #D80C18;
}

.information_container {
	background-color: #f5f5f5;	
	padding-top: 40px;
	padding-bottom: 70px;
}

#info_inner {
	width: 65%;
	margin: 0 auto;
	text-align: center;
}
#service_inner {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}


#info_inner h2,
#info_inner h3,
#service_inner h2,
#service_inner h3 {
	color: #D80C18;	
}

#info_inner h2,
#service_inner h2 {
	font-size: 37px;	
}

#info_inner h2 {
	margin-bottom: 25px;	
}


#info_inner h3,
#service_inner h3 {
	font-size: 17px;
}

#info_inner p {
	font-size: 16px;	
}

.contact_info {
	text-align: left;	
	font-size: 16px;
	line-height: 0.5;
}

#map {
	width: 100%;
	height: 350px;
	background-color: #D5D5D5;
	margin: 0 auto;	
}

.services_container {
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: auto;
}

#service_inner h2 {
	margin-bottom: 14px;	
}

#service_inner h3 {
	margin-top: 2px;	
}

#service_inner p {
	font-size: 15px;	
}

#service_inner #service_caption {
	font-size: 23px;	
}

.thumbnail {
	width: 24%;
	margin: 0 auto;
	float: left;	
	padding-right: 1%;
}

.thumbnail p {
	margin: 8px 0 0;
}

.thumb_img {
	width: 100%;
	height: 145px;
	background: #D5D5D5;	
}

.partner_container {
	overflow: auto;
}

#partner_left {
	width: 50%;
	height: 380px;
	margin: 0 auto;
	float: left;
		
}

#partner_right {
	width: 50%;
	height: 380px;
	margin: 0 auto;
	float: right;
	
}

#partner_text {
	color: 	#D80C18;
	padding-left: 70px;
	padding-top: 80px;
	height: 280px;
}

.contactus_container {
	padding-top: 40px;
	padding-bottom: 40px;
}

#contactus_inner {
	width: 35%;
	margin: 0 auto;
	text-align: center;
}

#footer {
	width: 100%;
	height: 100px;
	background-color: #141621;
}

#footer_inner {
	width: 65%;
	margin: 0 auto;
	text-align: right;	
}

#footer_inner p {
	color: #FFF;
	font-size: 20px;
	margin-top: 50px;
}

.separator_1 {
	margin-bottom: 30px;	
}

.separator_2 {
	margin-top: 35px;	
}

.contact_title {
	margin-bottom: 30px;	
}

.partner_container p {
	margin: 7px;	
}

.partner_container h3 {
	margin-bottom: 25px;	
}

.partner_container img {
	vertical-align: middle;
}

#contact {
	color: #5e5e5e;
}

#contact h2 {
	font-szie: 37px;
	margin-bottom: 0;
}

#contact p {
	font-szie: 16px;
}

#contactus_inner .tel {
	margin: 2px;	
}

#contactus_inner .bottom_btn {
	margin-top: 8px;	
}

#partner_text p {
	font-size: 15px;	
}

.partner_container h3 {
	font-size: 37px;	
}

.partner_container h3 a {
	color: #D80C18; 
	text-decoration: none;	
}

.partner_container p {
	font-size: 17px;
}

#contactus_inner h2 {
	font-size: 44px; 
	margin-bottom: 0;
}

.tel {
	font-size: 12px;
}

.bottom_btn {
	font-size: 20px; 
	background-color: #D80C18; 
	padding: 15px; 
	border-radius: 40px;
}

#contactus_inner h2 a {
	text-decoration: none; 
	color: #D80C18;
}

.bottom_btn b a {
	color: #FFF; 
	text-decoration: none;
}

#left {
	float: left;
}

#right {
	float: right; 
	display: inline-block;	
}


/**
* Banner, News and Ads styling
*/

.section1 {
	width: 1000px;
	max-width: 1000px;
	overflow: hidden;
	margin: 115px auto 75px;
}

.section1 #banner {
	background:url("../../image/p1.jpg");
	background-position: center;
	width: 1000px;
	height: 300px;
}

.news-top {
	margin-top: 82px;
	margin-bottom: 18px;
}

#news-dash {
	background-color: #D80C18;
	width: 20px;
	height: 5px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}

#news-title {
	font-weight: bold;
	font-size: 20px;
}

#news-section {
	float: left;
	width: 660px;
	height: 160px;
	margin: 0 auto;
	display: inline-block;
	overflow-y: scroll;
}

#news-list {
	margin: 0;
	padding-left: 0;
}

.news-item {
	list-style: none;
	font-size: 16px;
	padding-bottom: 14px;
}

.news-item:nth-child(4) {
	padding-bottom: 0;
}

.news-text {
	width: 520px;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}

.news-item img {
	width: 16px;
	height: 18px;
	vertical-align: middle;
	margin-top: -3px;
}

#ads-section {
	float: right;
	width: 300px;
	margin-left: 35px;
}

.ads {
	background-color: #5D5D5D;
	height: 75px;
}

#ads1 {
	margin-bottom: 10px;
}


/**
*	Company section styling
*/

.section2 {
	background-color: #F5F5F5;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#section2-title {
	margin-top: 80px;
}

#section2-title-main h2,
.section2-subtitle h3 {
	text-align: center;
	color: #D80C18;
}

#section2-title-main h2 {
	font-size: 37px;
	margin-bottom: 12px;
}

.section2-subtitle h3 {
	font-size: 17px;
	font-weight: bold;
	margin: 0;
}

#section2-subtitle1 {
	margin-bottom: 10px;
}

#section2-subtitle2 {
	margin-bottom: 60px;
}

#section2-content {
	text-align: center;
	margin-bottom: 47px;
}

#section2-contact {
	max-width: 798px;
	margin: 0 auto;
}

.section2-content-text,
.section2-contact-text {
	font-size: 16px;
}

#section2-hr1 {
	margin-bottom: 25px;
	border-color: #D5D5D5;
}

#section2-hr2 {
	margin-top: 25px;
	border-color: #D5D5D5;
}

#section2-map {
	background-color: #5D5D5D;
	width: 800px;
	height: 320px;
	margin: 44px auto 77px;
}


/**
* Service section styling
*/

.section3 {
	width: 1000px;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

#section3-title {
	margin-top: 80px;
}

#section3-title-main h2,
#section3-subtitle h3 {
	text-align: center;
	color: #D80C18;
}

#section3-title-main h2 {
	font-size: 37px;
	margin-bottom: 8px;
}

#section3-subtitle h3 {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

#section3-content p {
	font-weight: bold;
	font-size: 23px;
	text-align: center;
	margin: 44px auto 44px;
}

#section3-thumbnails {
	text-align: justify;	
}

#section3-thumbnails:after {
	content: "";
	width: 100%;
	display: inline-block;
}

.thumb {
	width: 235px;
	display: inline-block;
}

.thumb-img {
	background-color: #5D5D5D;
	height: 169px;
}

.thumb-title p {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin-bottom: 10px;
}

.thumb-text p {
	font-size: 15px;
	text-align:center;
	margin: 0 auto;
}


/**
* Partner section styling
*/

.section4 {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	margin: 80px auto;
}

.section4-full {
	background: url("../../image/p2.jpg");
	background-repeat: no-repeat;
	background-position: center;
    width: 100%;
    height: 348px;
}
#section4-left,
#section4-right {
	width: 50%;
	height: 350px;
	max-width: 50%;
  	max-height: 420px;
  
}

#section4-left {
	float: left;
}

#section4-right {
	background-color: rgba(255,255,255,0.8);
	float: right;
}

#section4-right-top {
	margin-top: 75px;
	margin-left: 48px;
}

#section4-right-top p {
	color: #D80C18;
	font-size: 15px;
	font-weight: bold;
}

#section4-right-bottom {
	margin-top: 45px;
	margin-left: 48px;
}

#section4-right-bottom-title h3 {
	font-size: 37px;
	margin: 10px auto;
}

#section4-right-bottom-title h3 a {
	color: #D80C18;
	text-decoration: none;
}

#section4-right-bottom-title h3 img {
	width: 50px;
	height: 46px;
	vertical-align: middle;
	margin-top: -5px;
}

.section4-right-bottom-subtitle p {
	color: #D80C18;
	font-size: 17px;
	font-weight: bold;
	margin: 10px auto;
}


/**
* Contact Us section styling
*/

.section5 {
	width: 1000px;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	margin: 0 auto 80px;
}

#section5-title {}

#section5-title-main h2,
#section5-subtitle h3 {
	text-align: center;
	color: #5D5D5D;
}

#section5-title-main h2 {
	font-size: 37px;
	margin-bottom: 8px;
}

#section5-subtitle h3 {
	margin: 0 auto;
	font-size: 16px;
	font-weight: bold;
}

#section5-content {
	margin-top: 24px;
}

#section5-number {
	color: #D80C18;
	font-weight: bold;
	font-size: 44px;
	text-align: center;
	margin: 0 auto -10px;
}

#section5-number a {
	color: #D80C18;
	text-decoration: none;
}

#section5-text p {
	color: #5D5D5D;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin: 14px auto 15px;
}

#section5-button a {
	background-color: #D80C18;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	width: 400px;
	border-radius: 30px;
	display: block;
	margin: 0 auto;
	padding: 13px 0;
}


/**
* Footer styling
*/

.footer {
	background-color: #141621;
	height: 96px;
	z-index: 999;
}

.footer-content {
	width: 1000px;
	max-width: 1000px;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
}

#footer-left {
	float: left;
	color: #FFF;
	font-size: 16px;
	margin-top: 25px;
	display: inline-block;
}

#footer-right {
	float: right;
	color: #FFF;
	font-size: 12px;
	margin-top: 28px;
	display: inline-block;
}
