#mainimg {
	min-height: 350px;
	background: #004F94;
	text-align: center;	
}

#toppage .message {
	position: relative;
	margin: auto;
	padding: 50px 0 50px; /* Check this */	
}

#toppage .message h2 {
	margin-bottom: 10px;
	font-size: 150%;	
}

#toppage .message:after {
	display: block;
	clear: both;
	content: "";
	position: absolute;
	top: -60px;
	left: -40px;
	width: 265px;
	height: 314px;
	text-indent: -9999px;
	/* background: url(../../image/character.png); */
	z-index: 999;	
}

#toppage .top_link {
	padding: 50px 0;
	/* background: url(../../image/bg.png);	*/
}

#toppage .top_link ul {
	margin: 0 auto;
	padding: 20px;	
}


/* CUSTOM */
ul li img {
	vertical-align: middle;	
	margin-top: -6px;
}

#navigation_bar {
	position: fixed;	
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: #D80C18;
}

#navigation_container {
	width: 70%;
	margin: 0 auto;
	text-align: right;
}

#navigation_container h2 {
	float: left;	
	color: #FFF;
}

#navigation_container h2 span {
	float: left;	
	color: #FFF;
	font-weight: 0;
	font-size: 18px;
}

#navigation_container ul {
	padding: 0px;
  	margin: 0px;
  	display: inline-block;
  	vertical-align: middle;
  	list-styletype: none;
  	padding-top: 10px;
}

#navigation_container li {
	list-style-type: none;
  	padding: 0px;
  	height: 24px;
  	margin-top: 4px;
  	margin-bottom: 4px;
  	display: inline;	
  	font-weight: bold;
}

#navigation_container li a {
 	color: white;
  	font-size: 15px;
  	text-decoration: none;
  	line-height: 70px;
  	padding: 5px 10px;
}

#login_btn a {
	background-color: #FFF;
	font-size: 12px !important;
	color: #D80C18 !important;
	border: 1px solid #FFF;
	border-radius: 20px;
}

.news_title_head {
	padding-bottom: 15px;
}


/**
* Header and Navigation styling
*/

.navigation {
	background-color: #D80C18;
	height: 91px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.navigation-content {
	width: 1000px;
	max-width: 1000px;
	overflow: hidden;
	margin: 26px auto;
}

#nav-logo {
	color: #FFF;
	font-size: 16px;
	margin: 0 auto;
	display: inline-block;
}

#nav-logo span {
	font-size: 13px;
	font-weight: 100;
}

#nav-menu {
	float: right;
	margin: 8px auto;
}

.nav-menu-item {
	list-style: none;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}

.nav-menu-item a {
	color: #FFF;
	text-decoration: none;
	padding: 0 15px;	
}

.nav-menu-item a img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-top: -4px;
}

#nav-menu-button-login a {
	background-color: #FFF;
	color: #D80C18;
	font-size: 12px;
	border: 1px solid #FFF;
	border-radius: 22px;
	padding: 6px;
}
